<p id="notice"><%= notice %></p>

<p>
  <strong>List Name:</strong>
  <%= @list.name %>
</p>

<h2>Tasks</h2>
<p>
<strong>Tasks</strong>
<% @list.tasks.each do |task| %>
	<%= task.name %>
	<%= task.done %>
</p>
<% end %>

<%= link_to 'Back', welcome_show_path %>
