<h2>Listas de Tarefas!</h2>
<% @lists.each do |list| %>
	<p>
  <strong>Lista:</strong>
  <%= list.name %>
  <%= link_to 'show tasks', list_path(list)%>
</p>
	<% end %>

<%= link_to 'New List', new_list_path%>
<%= link_to 'Edit List', lists_path%>
<%= link_to 'New Task', new_task_path%>


	
